XSB/build/version.sh svn_keywords=Date+Author+Id+Resivion
XSB/build/windows/MSVC_mkfile.mak svn_mime_002dtype=application%2Foctet-stream
XSB/build/windows64/MSVC_mkfile.mak svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/asm.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/asm_inst.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/asm_opt.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/asmpass2.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/auxlry.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/builtin.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/ciao_directives.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/compile.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/config.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/cp_opt.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/cutcheck.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/flatten.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/inprog.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/listutil.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/makemode.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/modeinf.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/modes.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/parse.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/peephole.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/pre_cond.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/preproc.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/printres.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/prof_sbp.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/sanity.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/singlton.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/spec.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/suppltab.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/symtab.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/tabdef.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/ti_mod.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/tp_comp.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/tp_cond.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/tp_eval.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/tp_goal.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/tp_index.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/tp_var.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/tpinline.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/tprog.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/useinfer.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/varproc.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/cmplib/writeasm.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/docs/homepage/blk2x2.png svn_mime_002dtype=application%2Foctet-stream
XSB/docs/homepage/semi2x2b.png svn_mime_002dtype=application%2Foctet-stream
XSB/docs/homepage/trans2x2.png svn_mime_002dtype=application%2Foctet-stream
XSB/docs/homepage/xsb-logo-big.png svn_mime_002dtype=application%2Foctet-stream
XSB/docs/homepage/xsb-logo-orig.png svn_mime_002dtype=application%2Foctet-stream
XSB/docs/homepage/xsb-logo-trans.png svn_mime_002dtype=application%2Foctet-stream
XSB/docs/homepage/xsb-logo.png svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/Stonyxsb.gif svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/contactus.gif svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/home.gif svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/leuven.gif svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/lisboa.jpg svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/new.gif svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/research.gif svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/uppsala.gif svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/work.gif svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/xsb-group.gif svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/xsb-logo-anim1.gif svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/xsb-logo-anim2.gif svn_mime_002dtype=application%2Foctet-stream
XSB/docs/old-homepage/xsbsystem.gif svn_mime_002dtype=application%2Foctet-stream
XSB/docs/userman/abs-recursion-eps-converted-to.pdf svn_mime_002dtype=application%2Foctet-stream
XSB/docs/userman/cascaded.jpg svn_mime_002dtype=application%2Foctet-stream
XSB/docs/userman/courteous2.jpg svn_mime_002dtype=application%2Foctet-stream
XSB/docs/userman/manual1.pdf svn_mime_002dtype=application%2Foctet-stream
XSB/docs/userman/no-cascade.jpg svn_mime_002dtype=application%2Foctet-stream
XSB/docs/userman/omegaNet.jpg svn_mime_002dtype=application%2Foctet-stream
XSB/docs/userman/recursion-eps-converted-to.pdf svn_mime_002dtype=application%2Foctet-stream
XSB/docs/userman/slg-forest-local.jpg svn_mime_002dtype=application%2Foctet-stream
XSB/docs/userman/trie.jpg svn_mime_002dtype=application%2Foctet-stream
XSB/docs/userman/xsb-logo.jpg svn_mime_002dtype=application%2Foctet-stream
XSB/etc/images/xsb-logo.ico svn_mime_002dtype=application%2Foctet-stream
XSB/examples/XSB_calling_c/simple_foreignW64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/gpp/MSVC_mkfile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/lib/prolog_db_doc/prolog_db.pdf svn_mime_002dtype=application%2Foctet-stream
XSB/packages/curl/NMakefile.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/curl/NMakefile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/curl/cc/NMakefile.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/curl/cc/NMakefile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/curl/cc/bin/libcurl.dll svn_mime_002dtype=application%2Foctet-stream
XSB/packages/curl/cc/bin/libcurl.lib svn_mime_002dtype=application%2Foctet-stream
XSB/packages/curl/cc/bin64/libcurl.dll svn_mime_002dtype=application%2Foctet-stream
XSB/packages/curl/cc/bin64/libcurl.lib svn_mime_002dtype=application%2Foctet-stream
XSB/packages/dbdrivers/NMakefile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/dbdrivers/cc/NMakefile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/dbdrivers/mysql/cc/NMakefile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/dbdrivers/mysqlembedded/cc/NMakefile.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/dbdrivers/mysqlembedded/cc/NMakefile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/dbdrivers/odbc/cc/NMakefile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/NMakefile.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/NMakefile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/NMakefile.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/NMakefile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/bin/pcre.dll svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/bin/pcre.lib svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/bin64/pcre.dll svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/bin64/pcre.exp svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/bin64/pcre.lib svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/bin64/pcrecpp.dll svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/bin64/pcrecpp.exp svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/bin64/pcrecpp.lib svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/bin64/pcreposix.dll svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/bin64/pcreposix.exp svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pcre/cc/bin64/pcreposix.lib svn_mime_002dtype=application%2Foctet-stream
XSB/packages/persistent_tables/doc/persistent_tables.pdf svn_mime_002dtype=application%2Foctet-stream
XSB/packages/pita/cudd-3.0.0/doc/phase.pdf svn_mime_002dtype=application%2Foctet-stream
XSB/packages/regmatch/cc/NMakefile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/sgml/cc/NMakefile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/viewsys/doc/view_sys.pdf svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xasp/doc/xnmr.doc svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xasp/xasppkg.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xasp/xnmr.doc svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xmc/GUI/false.gif svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xmc/GUI/true.gif svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xpath/cc/NMakefile64.mak svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xpath/cc/bin/iconv.dll svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xpath/cc/bin/iconv.lib svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xpath/cc/bin/libxml2.dll svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xpath/cc/bin/libxml2.lib svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xpath/cc/bin/zlib.lib svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xpath/cc/bin/zlib1.dll svn_mime_002dtype=application%2Foctet-stream
XSB/packages/xpath/cc/bin64/zlib1.dll svn_mime_002dtype=application%2Foctet-stream
XSB/pthreads/Pre-built/lib/pthreadVSE1.dll svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/assert.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/atts.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/banner.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/basics.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/ccallxsb.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/consult.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/curr_sym.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/dbclause.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/dcg.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/debugger.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/domain.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/error_handler.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/eval.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/file_io.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/file_op.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/gensym.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/hilogsym.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/increval.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/loader.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/machine.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/num_vars.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/open_url.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/push_io.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/setof.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/shell.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/standard.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/std_xsb.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/string.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/sub_atom.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/subsumes.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/sysinitrc.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/tables.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/term_exp.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/thread.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/unix.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/write_term.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/x_interp.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/xcallxsb.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/xsb_hook.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/xsb_read.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/xsb_writ.xwam svn_mime_002dtype=application%2Foctet-stream
XSB/syslib/xsbbrat.xwam svn_mime_002dtype=application%2Foctet-stream
altmttest/prolog_tests/c_calls_xsb.exe svn_mime_002dtype=application%2Foctet-stream
altmttest/prolog_tests/ccx.exe svn_mime_002dtype=application%2Foctet-stream
altmttest/test_concurrent.xwam svn_mime_002dtype=application%2Foctet-stream
mttests/benches/answer_completion_benches/generate_anscmp_examples.xwam svn_mime_002dtype=application%2Foctet-stream
